<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
           "About Jeopardy With Friends-Live!"
        </h1>
        <p>
          Play Jeopardy with your friends via live chat!
          You can log in with Google, and play live with
          friends all around the world. Complete with
          Alex Trebek graphics and sound bites.
        </p>
      </div>
     </div>

    <div class="row">
      <div class="col-md-8">
        <h2 class="page-header">What is -A- Team?</h2>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 text-center">
      <img src="">
      <h3>James Costello</h3>
      <small>Scrum Lord</small>
    </div>

    <div class="col-lg-4 col-sm-6 text-center">
      <img src="">
      <h3>Blair Dowis</h3>
      <small>Lead Github Manager</small>
    </div>

    <div class="col-lg-4 col-sm-6 text-center">
      <img src="">
      <h3>Karla Gil</h3>
      <small>Senior Presentation Manager</small>
    </div>

    <div class="col-lg-4 col-sm-6 text-center">
      <img src="">
      <h3>Michelle Kiziak</h3>
      <small>Lead Documenter</small>
    </div>


<!--       <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Michelle Kiziak</span>
            </div>
            <div class="card-content">
              <p>SHORT FACT/INFO</p>
            </div>
          </div>
        </div>
      </div> -->


  <footer>
    <div class="footer-copyright">
      <div class="container">
       © 2016 Copyright
      <a class="grey-text text-lighten-4 right" </a>
      </div>
    </div>
  </footer>

</body>
</html>
