<div class="text-center">
  <blockquote>
   <h1>Jeopardy With Friends-Live!</h1>
   <h3>Prove your worth-Live!</h3>
  </blockquote>

   <h1>Log in with your Google account!</h1>

  <div class="login">
    link to login goes here
  </div>

