<!DOCTYPE html>
<html>
  <head>
     <title>Jeopardy with Friends - Live!</title>
     <!-- Google Icon Fonts used by Materialize -->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Materialize CSS Framework -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Maitree:500|Open+Sans+Condensed:300,700" rel="stylesheet">
     <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body class="chat-trebek-img">





<div class="row">
    <div class="cropped-trebek-img">
        <img src="../images/jeopardy-cropped1.jpg" alt="jeopardy logo" class='responsive-img'>
    </div>        
<!--  user info -->
    <div class="col s12">
        <ul class="login-index">
              <% if (user) { %>
            <li><a href="/logout" class='logout'>Logout<i class="material-icons right">trending_flat</i></a></li>
            <li id="user-email"><%= user.email %></li>
            <% } %>
         </ul>
        
    </div>

 

    <% if (user) { %>
    <div class="col m12 l6 offset-l6">

<!--   category goes here-->
        <div id="category"></div>
      
<!--    question goes here-->
       <div id="question"></div>
      
    <!-- Socket IO chat -->
      <!-- messages view -->
            <div class="chatroom">
                <ul id="messages"></ul>
            </div>

            <!-- message input  -->

        <div class="input-field">
            
            <label for='new-msg'>Message:</label>
            <textarea id="new-msg"></textarea>
            
            <input type="buttont" id='btn-send-msg' value="Send Message" class="indigo darken-4 right">
        </div>

        </div>

    </div>
    <!-- Socket IO chat end-->
    
<!--    show login if user not logged in-->
    <% } else { %>
    <div class="row">
        <div class="col m12 l6 offset-l6">
               <div class="card-panel indigo darken-4 center-align">
                   <p>
                        <a href="/auth/google"><i class="material-icons">vpn_key</i>Login with Google to Play!</a>
                    </p>  

               </div>
                
        </div>
    </div>

        <% } %>
    
<!--   Jquery-->
     <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

      <script src="node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>

     <!-- Using Underscore for collection manipulation and client-side templatin -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

      <!-- JavaScript for Materialize -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
     <script src="javascripts/app.js"></script>
     <!-- IO  -->
     <script src="/socket.io/socket.io.js"></script>

  </body>
</html>
