<!DOCTYPE html>
<html>
  <head>
     <title>Jeopardy with Friends - Live!</title>
     <!-- Google Icon Fonts used by Materialize -->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Materialize CSS Framework -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
     <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body class="chat-trebek-img">



<!-- Nav bar -->
    
   
      <div class="indigo darken-4 col s6 offset-s6">
<!--        <a href="#" class="brand-logo left">Jeopardy with Friends - Live!</a>-->
        <ul class="right login-index">
              <% if (user) { %>
            <li class='push'><a href="/logout" class='logout'><i class="material-icons right">trending_flat</i>Logout</a></li>
            <li id="user-email" class='push'><%= user.email %></li>
            <% } %>
         </ul>

      </div>
<<<<<<< HEAD
    </nav>



    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

=======
>>>>>>> 936e081c254e3b9f91d1b9d410cef5e4a9f2f41b

    <!-- Socket IO chat -->
      <!-- messages view -->
    <div class="row">
        <div class="col s5 offset-s7">
            <div class="chatroom">
                <ul id="messages"></ul>
            </div>
           
            <!-- message input  -->
        

                <label>Message:</label><textarea id="new-msg"></textarea><br><br>

<<<<<<< HEAD
        <label>Message:</label><textarea id="new-msg"></textarea><br><br>

         <input type="button" id="btn-send-msg" value="Send Message">

=======
                 <input type="button" id="btn-send-msg" value="Send Message" class="indigo darken-4">

        
        </div>
        
>>>>>>> 936e081c254e3b9f91d1b9d410cef5e4a9f2f41b
    </div>
    <!-- Socket IO chat end-->
<<<<<<< HEAD

<!--    login/logout-->
    <ul class="right">
      <% if (user) { %>
      <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
      <% } else { %>
      <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
      <% } %>
    </ul>




=======
    
>>>>>>> a7e238d28a3d5e5c92e7c2821d216792aa56ea50
<!--   Jquery-->
     <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

      <script src="node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>

     <!-- Using Underscore for collection manipulation and client-side templatin -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

      <!-- JavaScript for Materialize -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
     <script src="javascripts/app.js"></script>
     <!-- IO  -->
     <script src="/socket.io/socket.io.js"></script>

  </body>
</html>
