<!DOCTYPE html>
<html>
  <head>
     <title>Jeopardy with Friends - Live!</title>
     <!-- Google Icon Fonts used by Materialize -->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Materialize CSS Framework -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Maitree:500|Open+Sans+Condensed:300,700" rel="stylesheet">
     <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body class="chat-trebek-img">





<div class="row">
    <div class="cropped-trebek-img">
        <img src="../images/jeopardy-cropped1.jpg" alt="jeopardy logo" class='responsive-img'>
    </div>        
<!--  user info -->
    <div class="col s12">
        <ul class="login-index">
              <% if (user) { %>
            <li><a href="/logout" class='logout'>Logout<i class="material-icons right">trending_flat</i></a></li>
            <li id="user-email"><%= user.email %></li>
            <% } %>
         </ul>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 7477e613a7e5f51c976e82562056d4ae7a0cce16
=======

>>>>>>> 9c06f9b76440a48664080083e2ac8b690a1818d7
      </div>
<<<<<<< HEAD
    </nav>



    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

=======
>>>>>>> 936e081c254e3b9f91d1b9d410cef5e4a9f2f41b
=======
        
    </div>

 
>>>>>>> fae572d9d9a1fc9edcbe09db678af4382325c242

    <% if (user) { %>
    <div class="col m12 l6 offset-l6">

<!--   category goes here-->
        <div id="category"></div>
      
<!--    question goes here-->
       <div id="question"></div>
      
    <!-- Socket IO chat -->
      <!-- messages view -->
            <div class="chatroom">
                <ul id="messages"></ul>
            </div>

            <!-- message input  -->

<<<<<<< HEAD

                <label>Message:</label><textarea id="new-msg"></textarea><br><br>

<<<<<<< HEAD
        <label>Message:</label><textarea id="new-msg"></textarea><br><br>

         <input type="button" id="btn-send-msg" value="Send Message">

=======
                 <input type="button" id="btn-send-msg" value="Send Message" class="indigo darken-4">
=======
        <div class="input-field">
            
            <label for='new-msg'>Message:</label>
            <textarea id="new-msg"></textarea>
            
            <input type="buttont" id='btn-send-msg' value="Send Message" class="indigo darken-4 right">
        </div>
>>>>>>> fae572d9d9a1fc9edcbe09db678af4382325c242

        </div>
<<<<<<< HEAD
        
>>>>>>> 936e081c254e3b9f91d1b9d410cef5e4a9f2f41b
    </div>
    <!-- Socket IO chat end-->
<<<<<<< HEAD

<!--    login/logout-->
    <ul class="right">
      <% if (user) { %>
      <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
      <% } else { %>
      <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
      <% } %>
    </ul>




=======
    
>>>>>>> a7e238d28a3d5e5c92e7c2821d216792aa56ea50
=======

    </div>
    <!-- Socket IO chat end-->
    
<!--    show login if user not logged in-->
    <% } else { %>
    <div class="row">
        <div class="col m12 l6 offset-l6">
               <div class="card-panel indigo darken-4 center-align">
                   <p>
                        <a href="/auth/google"><i class="material-icons">vpn_key</i>Login with Google to Play!</a>
                    </p>  

               </div>
                
        </div>
    </div>

<<<<<<< HEAD
>>>>>>> 9c06f9b76440a48664080083e2ac8b690a1818d7
=======
        <% } %>
    
>>>>>>> 12436f46c0680eeef044d0e7a9190c6d747bc022
<!--   Jquery-->
     <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

      <script src="node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>

     <!-- Using Underscore for collection manipulation and client-side templatin -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

      <!-- JavaScript for Materialize -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
     <script src="javascripts/app.js"></script>
     <!-- IO  -->
     <script src="/socket.io/socket.io.js"></script>

  </body>
</html>
