<div class="text-center"></div>

  <blockquote>
   <h1>Jeopardy With Friends-Live!</h1>
   <!-- Some farewell message -->
   <h3>Visit us again</h3>
  </blockquote>

  <div id="logout">
    <input id="logout-message" />
    <button id="logout-send">Send</button>
  </div>



